includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: 5

    excludePaths:
        - src/Builder.php

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Method OpenSoutheners\\LaravelApiable\\Support\\Apiable::response\(\) should return OpenSoutheners\\LaravelApiable\\Http\\JsonApiResponse but returns OpenSoutheners\\LaravelApiable\\Http\\RequestQueryObject#'
        - '#Variable \$valids in empty\(\) always exists and is always falsy#'
        - '#Method OpenSoutheners\\LaravelApiable\\Http\\Resources\\Json\\ResourceCollection::toArray\(\) should return array but returns Illuminate\\Support\\Collection<int, mixed>#'
        - '#Call to an undefined method Throwable::errors\(\)#'

    checkMissingIterableValueType: false
