includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: 5

    type_coverage:
        return_type: 20
        param_type: 20
        property_type: 20

    excludePaths:
        - src/Builder.php

    checkMissingIterableValueType: false
